#greet {
  text-transform: capitalize ;
}

ul {
  list-style-type: none;
}

li{
  border: 1px solid black;
  width: 400px;
  height: auto;
  margin: 20px;
  padding: 10px;
}

li span {
  float: right;
  font-weight: bold;
}